@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "sans-serif";
  --font-heading: "Montserrat", "sans-serif";
  --font-body: "Poppins", "sans-serif";
  --font-button: "Roboto", "sans-serif";
  --color-primary: #FF1E6D;
  --color-primary-dark: #FF1B51;
  --color-bg-dark: #090713;
  --color-bg-gradient-start: #090713;
  --color-bg-gradient-end: #291616;
  --color-text-main: #eaeaf3;
  --color-text-muted: #b5b5c7;
}

html {
  font-family: var(--font-body);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-dark);
  /* Fix overscroll white flash */
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

button {
  font-family: var(--font-button);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}


/* Animations */
@keyframes float {

  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }

  25% {
    transform: translate(30px, -15px) scale(1.05);
  }

  50% {
    transform: translate(-20px, 20px) scale(0.95);
  }

  75% {
    transform: translate(15px, 10px) scale(1.02);
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* TechStack Scroll Animation */
.scroller {
  max-width: 100%;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller__inner {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  /* This is gap-12 */
  padding-block: 1rem;
  animation: scroll var(--_animation-duration, 20s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 40s;
}

@keyframes scroll {
  to {
    /* Translate by half the width of the inner container minus half the gap */
    transform: translate(calc(-50% - 1.5rem));
  }
}